.newProduct {
  position: absolute;
  top: 80px;
  left: 200px;
  width: calc(100vw - 220px);
}

.newProductForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.newProductInput {
  width: 50%;
}

.newProductInputField {
  width: 388px;
}

.newProductInputDescription {
  height: 400px;
}

.submitBtn {
  width: 30%;
}

.newProductSubmitBtn {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
